.ipynb_checkpoints/

# dependencies
webserver/node_modules
webserver/.pnp
webserver/.pnp.js

# testing
webserver/coverage

# production
webserver/build

# misc
webserver/.DS_Store
webserver/.env.local
webserver/.env.development.local
webserver/.env.test.local
webserver/.env.production.local

webserver/npm-debug.log*
webserver/yarn-debug.log*
webserver/yarn-error.log*

__pycache__/
*_logs/
misc/
weights/
checkpoints/
